if ! has nix_direnv_version || ! nix_direnv_version 2.2.1; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.2.1/direnvrc" "sha256-zelF0vLbEl5uaqrfIzbgNzJWGmLzCmYAkInj/LNxvKs="
fi

export NIXPKGS_ALLOW_UNFREE=1

use flake . --impure --accept-flake-config

export PROJECT_ROOT=$(git rev-parse --show-toplevel)
export ASSETS_PATH="$PROJECT_ROOT/cardano-cli-guru/assets"
export DATA_PATH="$ASSETS_PATH/data"
export PLUTUS_SCRIPTS_PATH="$ASSETS_PATH/scripts/plutus"

export PATH=$PATH:./setup:./scripts/

# Fix project if cloned without --recurse-submodules flag:
if [ ! "$(ls -A jambhalucid)" ] || [ ! "$(ls -A cardano-ez-installer)" ]; then
  git submodule update --init --recursive
  git submodule foreach 'git checkout main'
fi

# Create .env file with default environment variables:
if [ ! -f .env ]; then
  touch .env
  cat <<EOF >> .env
NODE_RELEASE="8.0.0" # Replace with newer version and re-run the script to update your installation
CARDANO_SRC_PATH="\$HOME/cardano-src" # Where cardano-node source files will be saved
CARDANO_PATH="\$HOME/cardano" # Where node database and config files will be saved
VIM_MODE=false
EOF
fi

# Source the .env file:
dotenv

### JAMBHALUCID SETUP ###

# Create .env.local file for Jambhalucid and populate with existing variables
env_local="$PROJECT_ROOT/jambhalucid/.env.local"
if [ ! -f "$env_local" ]; then
  touch "$env_local"
  cat <<EOF >> "$env_local"
TESTNET_NAME=preview
BLOCKFROST_PROJECT_ID_PREPROD=preprodProjectID
BLOCKFROST_PROJECT_ID_PREVIEW=previewProjectID
EOF
fi