use flake .

if ! has nix_direnv_version || ! nix_direnv_version 2.2.1; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.2.1/direnvrc" "sha256-zelF0vLbEl5uaqrfIzbgNzJWGmLzCmYAkInj/LNxvKs="
fi

export PROJECT_ROOT=$(git rev-parse --show-toplevel)
export NETWORK_MAGIC=2 # "preprod" testnet: 1, "preview" testnet: 2
export NETWORK="testnet"

if [[ $NETWORK -eq "testnet" ]]; then
  export NET="--testnet-magic ${NETWORK_MAGIC}"
elif [[ $NETWORK -eq "mainnet" ]]; then
  export NET="--mainnet"
else
  echo "Error: Invalid NETWORK value" >&2
  exit 1
fi

if [[ $NETWORK_MAGIC -eq 1 ]]; then
  export TESTNET_NAME="preprod"
elif [[ $NETWORK_MAGIC -eq 2 ]]; then
  export TESTNET_NAME="preview"
else
  echo "Error: Invalid NETWORK_MAGIC value" >&2
  exit 1
fi

export NODE_RELEASE="1.35.5"
export CARDANO_SRC_PATH="$HOME/cardano-src"
export CARDANO_PATH="$HOME/cardano/$NETWORK"
export DB_PATH=$CARDANO_PATH/db
export CONFIG_PATH=$CARDANO_PATH/config-$TESTNET_NAME
export CARDANO_NODE_SOCKET_PATH=$CARDANO_PATH/node.socket

export TX_PATH="assets/tx"
export KEYS_PATH="assets/keys"

export PATH=$PATH:./scripts/:./cardano-cli/