[submodule "jambhalucid"]
	path = jambhalucid
	url = https://github.com/iburzynski/jambhalucid
[submodule "cardano-ez-installer"]
	path = cardano-ez-installer
	url = https://github.com/iburzynski/cardano-ez-installer
[submodule "cardano-cli-guru"]
	path = cardano-cli-guru
	url = https://github.com/iburzynski/cardano-cli-guru
